extends layout

block content
  .contenido-principal
    h1 #{titlePage} - #{project.name}

    form.agregar-tarea(action=`/projects/${project.url}` method='POST')
      .campo
        label(for="task") Task:
        input.nombre-tarea(type="text" name="name" placeholder="Task name")
      .campo.enviar
        input.boton.nueva-tarea(type="submit" value="Add")

    .listado-pendientes
      ul
        if tasks.length
          each task in tasks
            li.tarea(data-task=task.id)
              p= task.name
              .acciones
                if task.state
                  i.far.fa-check-circle.completo
                else
                  i.far.fa-check-circle
                i.fas.fa-trash
        else
          p There aren't tasks in this project
    //- pre= vardump(tasks)

    .contenedor-acciones
      a(href=`/projects/edit/${project.id}` class="boton") Edit
      button#eliminar-proyecto(data-project-url=project.url type="button" class="boton eliminar") Delete